<header id="header-container">
    <div class="header-content">
        <div class="img-cotainer">
            <a [routerLink] = "['/home']">
                <img src="logo.png" alt="">
            </a>
        </div>
        <nav class="header-links">
            <a [routerLink] = "['/funcionalidade']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Funcionalidades</a>
            <a [routerLink] = "['/contato']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Contato</a>
            <a [routerLink] = "['/sobre']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Sobre</a>
        </nav>
    </div>  
</header>