<div class="select-container">
  <label for="input-select" class="quest">Com o quê precisa de ajuda?</label>
  <form [formGroup]="inputUserForm">
    <select name="select-option" id="input-select" formControlName="ajuda">
      <option value="" disabled selected>Selecione</option>
      <option value="Alimentação">Alimentação</option>
      <option value="Locomoção">Locomoção</option>
      <option value="Orientação em aplicativo">Orientação com aplicativo</option>
      <option value="Redes Sociais">Redes Sociais</option>
      <option value="Informações diárias">Jornal</option>
    </select>
  </form>

  <button id="submit-select-user-btn" type="button" [disabled]="inputUserForm.invalid"
    (click)="EnviarInput()">Enviar</button>

  <div class="select" [hidden]="!inputUserForm.get('ajuda')?.invalid">
    <p style="color:red;">Por favor, selecione uma opção.</p>
  </div>
</div>