<div class="about-tcc-container">
    <div class="title-text">
        <p>TCC-Apoio Digital</p>
    </div>
    <div class="about-tcc-content">
        <div class="about-content what-is-container">
            <div class="what-is container-text">
                <div class="title">
                    <p>O que é o Apoio Digital?</p>
                </div>
                <div class="text-about">
                    <p>O Apoio Digital é um <span>aplicativo criado especialmente para ajudar pessoas idosas a usarem a
                        internet de forma fácil, segura e independente.</span> Ele funciona como um assistente pessoal, guiando
                        o usuário passo a passo em tarefas como fazer videochamadas, enviar mensagens, acessar serviços
                        online e muito mais.</p>
                </div>
            </div>
        </div>
        <div class="about-content principal-public-container">
            <div class="principal-public container-text">
                <div class="title">
                    <p>Publico Alvo</p>
                </div>
                <div class="text-about">
                    <p>Os <span>idosos</span> frequentemente encontram obstáculos significativos durante sua jornada de inclusão
                        digital, incluindo limitações físicas e cognitivas, como a diminuição da visão e habilidades
                        motoras, que dificultam a assimilação das novas tecnologias.</p>
                </div>
            </div>
        </div>
    </div>
</div>