<div class="container">
    <div class="welcome-p-tbl">
        <p class="welcome-p">Bem vindo, {{ nomeUser }}!</p>
        <p class="tbl-hist-p">Este trabalho contempla o CRUD da tabela Histórico</p>
    </div>
    <div class="banner-container">
        <div class="banner-content">
            <div class="banner-img">
                <img src="banner.png" alt="Banner">
            </div>
            <div class="banner-p-bnt-container">
                <div class="banner-p">
                    <p>Apoio <br> Digital</p>
                </div>
                <div class="banner-btn">
                    <button id="btn-banner-access" [routerLink]="['/funcionalidade']">Acessar Funcionalidades!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-app-container">
    <div class="app-content about">
        <div class="title-about">
            <p>O aplicativo</p>
        </div>
        <div class="about-h-img">
            <div class="text">
                <p class="how-it-works">
                    O aplicativo funciona como um assistente pessoal, onde o usuário poderá praticar como usar os
                    aplicativos do dia a dia.
                </p>
                <div class="how-it-works p-how">
                    Na tela de apresentação do app é deixado claro o que o software se propõe a fazer.
                </div>
            </div>
            <div class="img-app-container img-home">
                <img src="home-page.png" class="about-app-img" alt="">
            </div>
        </div>
    </div>
    <div class="login-content about">
        <div class="title-about">
            <p>O Cadastro</p>
        </div>
        <div class="img-container-login">
            <div class="arrow-login-home">
                <img src="arrow-login.png" alt="">
            </div>
            <div class="imgs-login">
                <img src="singup.png" class="about-app-img" alt="">
                <img src="singup-r.png" class="about-app-img" alt="">
            </div>
            <div class="how-it-works-login">
                <p>O cadastro do usuário foi projetado para ser simples, com o intuito de facilitar a compreensão do
                    usuário</p>
            </div>
        </div>

    </div>
    <div class="config-content about">
        <div class="app-content about">
            <div class="title-about">
                <p>A configuração</p>
            </div>
            <div class="about-h-img row-reverse">
                <div class="text">
                    <p class="how-it-works-config">
                        Como o publico alvo são idosos de diversas idades, disponibilizamos diversas configurações em
                        prol de deixar o aplicativo agradável para todos.
                    </p>
                </div>
                <div class="img-app-container img-home">
                    <img src="exemplo-config.png" class="about-app-img" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="user-app-content about">
        <div class="app-content about">
        <div class="title-about">
            <p> Passo a passo do usuário</p>
        </div>
        <div class="about-h-img">
            <div class="text-user-app">
                <p class="how-it-works-user-app">
                    O usuário será disposto a um menu com diversos aplicativos separados por temas.
                </p>
            </div>
            <div class="img-app-container img-home">
                <img src="exercise.png" class="about-app-img" alt="">
            </div>
        </div>
    </div>
    </div>
</div>
<div class="design-thanks-container">
    <div class="thanks">
        <p>Obrigado</p>
    </div>
</div>