<div class="equip-names-container">
    <div class="title-text">
        <p class="equip">Equipe do projeto CRUD</p>
        <a href="https://github.com/MatheussPS/PWIII-ApoioDigital-CRUD.git  ">
            <img class="equipe-img-link" src="github.png" alt="">
        </a>
    </div>
    <div class="equipe-links-content">
        <a href="https://github.com/MatheussPS">Matheus Pinter</a>
        <a href="https://github.com/PsSergio">Paulo Sergio</a>
    </div>
    <div class="icon-links">
        <div class="title-text">
            <p class="access-now">Acesse agora</p>
        </div>
        <div class="two">
            <a href="https://github.com/MatheussPS/PWIII-ApoioDigital-CRUD.git" class="icon-link">
                <img src="github.png" alt="">
            </a>
            <a href="https://www.figma.com/design/ibTOFsIjQiedHqojogcSpc/TCC-APP-Design?node-id=2496-3101&t=2HWTj5EM5NxaPCdZ-0" class="icon-link">
                <img src="figma.png" alt="">
            </a>
        </div>
        <div class="one" class="icon-link">
            <a href="">
                <img src="youtube.png" alt="">
            </a>
        </div>
    </div>
</div>